<% provide(:title, "Edit User's Profile") %>


<h2> <%= t("users.show.edit_profile") %> </h2>
	<div class="row">
		<div class="col-lg-12">

			<%= form_for(@user, multipart: true, :html => { :class => "form-horizontal" }) do |f| %>
				
				<div class="form-group">
						
					<%= f.label :name, t("form.name"), :class => "control-label col-lg-3" %>

					<div class="col-lg-6">
						<%= f.text_field :name, :class => "form-control"%>
							
					</div>	
				</div>

				<div class="form-group">
					<%= f.label :first_name, t("form.first_name"), :class => "control-label col-lg-3" %>
					
					<div class="col-lg-6">
						<%= f.text_field :first_name, :class => "form-control" %>
					</div>	
				</div>

				<div class="form-group">
					<%= f.label :last_name, t("form.last_name"), :class => "control-label col-lg-3" %>
					
					<div class="col-lg-6">
						<%= f.text_field :last_name, :class => "form-control" %>
					</div>	
				</div>

				<div class="form-group">
					<%= f.label :email, :class => "control-label col-lg-3" %>
					
					<div class="col-lg-6">
						<%= f.text_field :email, :class => "form-control", :disabled => "disabled" %>
						
					</div>	
				</div>

				<div class="form-group">
					<%= f.label :phone, t("form.phone"), :class => "control-label col-lg-3" %>
					
					<div class="col-lg-6">
						<%= f.text_field :phone, :class => "form-control" %>
					</div>	
				</div>	

				<div class="form-group">
					<%= f.label :birthday, t("form.birthday"), :class => "control-label col-lg-3" %>
					
					<div class="col-lg-6">
						<%= f.text_field :birthday, :class => "form-control datepicker" %>
					</div>	
				</div>	


				<div class="form-group">
					<%= f.label :gender, t("form.gender"), :class => "control-label col-lg-3" %>
					
					<div class="col-lg-6">
						<div class="btn-group" data-toggle="buttons">
						  <label class="btn btn-default">
						    <%= f.radio_button :gender, 0 %> <%= t("form.female") %>
						  </label>
						  <label class="btn btn-default">
						    <%= f.radio_button :gender, 1 %> &nbsp;<%= t("form.male") %>&nbsp;&nbsp;&nbsp;&nbsp;
						  </label>
						</div>		
							
					</div>
						
				</div>	


				<div class="form-group">
					<%= f.label :language, t("form.language"), :class => "control-label col-lg-3" %>
					
					<div class="col-lg-6">
						<select name="user[language]" class="form-control">
						    <option value="en">English</option>
						    <option value="ch">中文</option>
						</select>
					</div>	
				</div>

				<div class="form-group">
					<%= f.label :education, t("form.education"), :class => "control-label col-lg-3" %>
					
					<div class="col-lg-6">

						<select name="user[education]" class="form-control">
							<option value="hs"><%= t("users.show.high_school") %></option>
							<option value="cc"><%= t("users.show.college_credit") %></option>
							<option value="bd"><%= t("users.show.bachelor_degree") %></option>
							<option value="md"><%= t("users.show.master_degree") %></option>
							<option value="dd"><%= t("users.show.doctorate_degree") %></option>
				
			  			</select>
					</div>	
				</div>

				<div class="form-group">
					<%= f.label :work, t("form.work"), :class => "control-label col-lg-3" %>
					
					<div class="col-lg-6">
						<%= f.text_field :work, :class => "form-control" %>
					</div>	
				</div>

				<div class="form-group">
					<%= f.label :location, t("form.location"), :class => "control-label col-lg-3" %>
					
					<div class="col-lg-6">
						<%= render 'layouts/state_picker' %>
						<%= f.hidden_field :location, :value => "NY", :class => "form-control" %>
					</div>	
				</div>

				<div class="form-group">
					<%= f.label :facebook_id, t("form.fb_account"), :class => "control-label col-lg-3" %>
					
					<div class="col-lg-6">
						<%= f.text_field :facebook_id, :class => "form-control" %>
					</div>	
				</div>

				<!--
				<div class="form-group">
					<%#= f.label :weibo_id, :class => "control-label col-lg-3" %>
					
					<div class="col-lg-6">
						<%#= f.text_field :weibo_id, :class => "form-control" %>
					</div>	
				</div>
				-->

				<div class="form-group">
						
					<div class="text-center">
						<%= f.submit "Save Changes", class: "btn btn-primary btn-large" %>  
					</div>	

				</div>		

				
			<% end %>

 		</div>	
	</div>	

<script>
	$('.datepicker').datepicker({ 
		format: "yyyy-mm-dd",
		startView:2
	});

	$('.state_input').change(function() {
		$('#user_location').val($(this).val());		
	});	
	
</script>	
