

<style>
	.panel-body {
		padding-top: 1px;
		padding-bottom:  0px;
	}

	a:hover > div {
        background-color: #eee;

    }
</style>


<% provide( :title, @user.name) %>



<div class="row">
	<div class="col-md-7">
		<div>
			<img src=<%= @user.avatar.url(:thumb) %> class="img-rounded" alt="Rounded Image">
		</div>
		<h3> <%= @user.name %> </h3>
		<div class="col-lg-4">
			<div class="panel panel-info">
	          <div class="panel-heading">
	            <div class="row">
	              <div class="col-xs-6">
	                <i class="fa fa-comments fa-5x"></i>
	              </div>
	              <div class="col-xs-6 text-right">
	                <p class="announcement-heading">456</p>
	                <p class="announcement-text">New Mentions!</p>
	              </div>
	            </div>
	          </div>
	          <a href="#">
	            <div class="panel-footer announcement-bottom">
	              <div class="row">
	                <div class="col-xs-6">
	                  View Mentions
	                </div>
	                <div class="col-xs-6 text-right">
	                  <i class="fa fa-arrow-circle-right"></i>
	                </div>
	              </div>
	            </div>
	          </a>
	        </div>
    	</div>

			
	</div>
	<div class="col-md-5">
		<div class="panel panel-primary">
			<div class="panel-heading"><span class="glyphicon glyphicon-heart red"></span>&nbsp; My Favorite List</div>
		  	<div class="panel-body ">
		    	<%= render '/users/collection' %>
		     
		  	</div>
		  	<div class="panel-footer text-center" style="padding: 0px;">

				<% if @collections.present? %>
	    			<%= will_paginate @collections, :param_name => 'collection_page' %>
				<% end %>
			</div>	
		</div>	

		<div class="panel panel-warning">
			<div class="panel-heading">My Post List</div>
		  	<div class="panel-body">

				<%= render '/users/property' %>    			
		  	</div>

		  	<div class="panel-footer text-center" style="padding: 0px;">

				<% if @properties.present? %>
	    			<%= will_paginate @properties, :param_name => 'property_page' %>
				<% end %>
			</div>	
		</div>
		
		
	</div>
		
</div>	



<script>

   

</script>