

<style>
	.panel-body {
		padding-top: 1px;
		padding-bottom:  0px;
	}

	a:hover > div {
        background-color: #eee;

    }
    
    .datepicker { z-index: 1151 !important;  }    
</style>

<script>
    $('.datepicker').datepicker({ 
		format: "yyyy-mm-dd",
		startView:2
	});
</script>

<% provide( :title, @user.name) %>

<!-- edit profile -->
<div class="row">

</div>	
<!-- edit profile -->






<div class="row">
	<div class="col-md-7">
			
		<div class="panel panel-info">
	      <div class="panel-heading">
	        <div class="row">
	          <div class="col-xs-3">
	            <img src=<%= render_image @user %> class="img-rounded" alt="Rounded Image">

	          </div>
          
	          <div class="col-xs-9 text-left">
	          	<div class="popover right in" style="display: block;">
					<div class="arrow"></div>
					<div class="popover-content">Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</div>
				</div>
	            
	          </div>
	        </div>
	      </div>
	     
	        <div class="panel-footer">
	          <div class="row">
	            <div class="col-xs-6">
	              <button id="trigger_select_btn" class="btn btn-default btn-xs"><i class="fa fa-camera"></i> <%= add_or_change_avatar @user %></button>
	            
	            </div>
	            <div class="col-xs-6 text-right">
	            	<a data-toggle="modal" data-target="#myModal-profile">	
	              		<span class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> Edit profile</span>
	              	</a>	
	            </div>
	          </div>
	        </div>
	     
	    </div>
    	
    	<div class="panel panel-info">
	      <table class="table">
	      	<tbody>
	      		<tr>
	      			<td>Name</td>
	      			<td><strong><%= @user.name %></strong></td>
	      			<td></td>
	      		</tr>

	      		<tr>
	      			<td>First Name</td>
	      			<td><strong><%= @user.first_name %></strong></td>
	      			<td></td>
	      		</tr>

	      		<tr>
	      			<td>Last Name</td>
	      			<td><strong><%= @user.last_name %></strong></td>
	      			<td></td>
	      		</tr>

	      		<tr>
	      			<td>Email</td>
	      			<td><strong><%= @user.email %></strong></td>
	      			<td></td>
	      		</tr>
	      		<tr>
	      			<td>Phone</td>
	      			<td><strong><%= @user.phone %></strong></td>
	      			<td></td>
	      		</tr>	
	      		<tr>
	      			<td>Birthday</td>
	      			<td><strong><%= @user.birthday %></strong></td>
	      			<td></td>
	      		</tr>	
	      		<tr>
	      			<td>Gender</td>
	      			<td><strong><%= show_gender @user.gender %></strong></td>
	      			<td></td>
	      		</tr>	
	      		<tr>
	      			<td>Language</td>
	      			<td><strong><%= show_language @user.language %></strong></td>
	      			<td></td>
	      		</tr>	
	      		<tr>
	      			<td>Education</td>
	      			<td><strong><%= show_education @user.education %></strong></td>
	      			<td></td>
	      		</tr>
	      		<tr>
	      			<td>Work</td>
	      			<td><strong><%= @user.work %></strong></td>
	      			<td></td>
	      		</tr>
	      		<tr>
	      			<td>Location</td>
	      			<td><strong><%= @user.location %></strong></td>
	      			<td></td>
	      		</tr>

	      		
	      		<tr>
	      			<td>Facebook Account</td>
	      			<td></td>
	      			<td></td>
	      		</tr>

	      		<tr>
	      			<td>weibo Account</td>
	      			<td></td>
	      			<td></td>
	      		</tr>

	      	</tbody>	
	      </table>	
	     
	    </div>

			
	</div>
	<div class="col-md-5">
		<% if @collections.present? %>	
			<div class="panel panel-primary">
				<div class="panel-heading"><span class="glyphicon glyphicon-heart red"></span>&nbsp; My Favorite List</div>
			  	<div class="panel-body ">		
			    	<%= render '/users/collection' %>
			  	</div>
			  	<div class="panel-footer text-center" style="padding: 0px;">					
		    		<%= will_paginate @collections, :param_name => 'collection_page' %>				
				</div>					
			</div>	
		<% end %>

		<% if @properties.present? %>
			<div class="panel panel-success">
				<div class="panel-heading"><i class="fa fa-building-o"></i>&nbsp; My Post List</div>
			  	<div class="panel-body">
					<%= render '/users/property' %>    			
			  	</div>

			  	<div class="panel-footer text-center" style="padding: 0px;">				
		    		<%= will_paginate @properties, :param_name => 'property_page' %>				
				</div>	
			</div>
		<% end %>
		
	</div>
		
</div>	

<!-- Modal-profile -->
<div class="modal fade" id="myModal-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Update your Profile</h4>
      </div>
      <div class="modal-body">
        <%= render '/users/edit' %>
      </div>
      
    </div>
  </div>
</div>    
<!-- /modal-profile --> 

<!-- upload file form -->
<form action="<%= avatar_user_path %>" enctype="multipart/form-data" method="post" >
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <input id="upload_file" type="file" name="user[avatar]" multiple style="display: none;"> 

     <%#= f.file_field :image, :class => "upload_file", multiple: true, :name => "photo[image]" %>   

    <button type="button" id="upload_btn" style="display: none;">
    </button>
    
</form> 


<script>
	$( "#trigger_select_btn" ).on( "click", function() {
		$("#upload_file").click();
	});	

   	$("input[name='user[avatar]']").change(function() { this.form.submit(); });


	$('.state_input option[value=<%= @user.location %>]').attr('selected','selected');

	$('.language option[value=<%= @user.language %>]').attr('selected','selected');

	$('.education option[value=<%= @user.education %>]').attr('selected','selected');

	$('input:radio[name="gender"]').filter('[value="<%= @user.gender %>"]').attr('checked', true);


	if (	<%= @user.gender %> == 1) {
		$('.gender_1').addClass('active');	

	} else if (<%= @user.gender %> == 0) {
		$('.gender_0').addClass('active');	
	} 

	
	
	

	$('.state_input').change(function() {
		$('#user_location').val($(this).val());		
	});	


	//alert( $("#myModal-profile").css('zIndex') );

</script>