
<h1> All Properties </h1>

	<%= will_paginate %>				

		<table class="table table-striped">
    <thead>
        <tr>
            <th><%= sortable "id", "No." %> </th>
            <th>Address <a href="#"><span class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th>Type <span class="glyphicon glyphicon-chevron-up"></span></th>
            <th>Bed <span class="glyphicon glyphicon-chevron-up"></span></th>
            <th>Bath <span class="glyphicon glyphicon-chevron-up"></span> </th>
            
            <th> <%= sortable 'price'%> </th>
            
            <th>Broker Fee </th>
            <th>Deposit</th>
            <th>Description</th>
            <th>Contact name</th>
            <th>Contact email</th>
            <th>Contact phone</th>
            
            <th>Post By</th>
            
            <th>Delete</th>
            
        </tr>
    </thead>
    	<tbody>

    		<%= render @properties %>
           
    	</tbody>	
       	
    
</table>

	<%= will_paginate %>



