<style type="text/css">

	
	
	.btn-mail {
		width: 120px;
	}

	dl, dd {
		font-size: 1.1em;		
        margin: 0 0 18px 0;

	}

	

</style>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCclwbSN5TG86Q-k3pWEBOlu2KY6Llc23A&sensor=true"></script>
<script>
	function initialize() {
	  var latitude = <%= @property.latitude %>;
	  var longitude = <%= @property.longitude %>; 			
	  var location = new google.maps.LatLng(latitude, longitude);

	  var mapOptions = {
	    center: location,
	    zoom: 16
	  };
	  var map = new google.maps.Map(
	      document.getElementById('map-canvas'), mapOptions);

	  var panoramaOptions = {
	    position: location,
	    pov: {
	      heading: 180,
	      pitch: 10
	    }
	  };
	  var panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'), panoramaOptions);
	  map.setStreetView(panorama);
	}

	google.maps.event.addDomListener(window, 'load', initialize);

</script>


<% provide(:title, 'Property detail') %>
	
	<div class="row " style="padding: 30px;">
  		<div class="col-md-9">
  			<%= link_to "Back", :back %>

  			<div class="fb-like" data-href="http://around-u.org/properties/<%= @property.id %>" data-show-faces="true" data-share="true"></div>
  			
  			<address>
                <h2> <span id="p_address"> <%= @property.all_address %> </span> </h2>       
            </address>  
  		</div>
  		
  		<div class="col-md-3">
  			<button id="collection_btn" class="btn btn-lg"><span id="span_heart" class="glyphicon glyphicon-heart <%if @c.present? %> red  <% end %>"></span></button>

  			<!--<button id="" class="btn btn-lg"><i class="fa fa-facebook fa-lg"></i></button>-->
  			
  			<%= fb_share %>

  			<button id="" class="btn btn-lg "><i class="fa fa-weibo fa-lg"></i></button>

  			
  			


  		</div>
	</div>


    <div class="row">
      	<!-- sliders for images -->

        <div class="col-lg-6" >
        	
			<% if @photos.first.present? %>
			<div id="p_photo_0"><img src="<%= @photos.first.image_url_medium %>" class="img-thumbnail" width='100%'></div>
  				
  			<% end %>


        	<hr>
        		
        	<div class="row">
  				<div class="col-xs-6 col-sm-3">

  					<% if @photos.first.present? %>
	  					<a href="#">
	                    	<div id="p_photo_1" class="small_photo"><img src="<%= @photos.first.image_url_medium %>" class="img-thumbnail" width='100%'></div>
	                    </a>  						
  					<% end %>	
  				</div>
  				<div class="col-xs-6 col-sm-3">
  					<% if @photos.second.present? %>
  						<a href="#">
	                    	<div id="p_photo_2" class="small_photo"><img src="<%= @photos.second.image_url_medium %>" class="img-thumbnail" width='100%'></div>
	                    </a>  	
  						
  					<% end %>	
  				</div>

  				<!-- Add the extra clearfix for only the required viewport -->
  				<div class="clearfix visible-xs"></div>

  				<div class="col-xs-6 col-sm-3">
  					<% if @photos.third.present? %>
  						<a href="#">
	                    	<div id="p_photo_3" class="small_photo"><img src="<%= @photos.third.image_url_medium %>" class="img-thumbnail" width='100%'></div>
	                    </a> 
  						
  					<% end %>	
  				</div>
  				<div class="col-xs-6 col-sm-3">
  					<% if @photos.fourth.present? %>
  						<a href="#">
	                    	<div id="p_photo_4" class="small_photo"><img src="<%= @photos.fourth.image_url_medium %>" class="img-thumbnail" width='100%'></div>
	                    </a> 
  						
  					<% end %>	
  				</div>
			</div>


        	
	         
	        <span><h3> <%=t("properties.contact_information")%> </h3> </span>

	        <table class="table">
	        	<tbody>
	        		<tr>
	        			<td> <%=t("properties.contact_name")%> </td>
	        			<td><strong><%= @property.contact_name %></strong></td>
	        		</tr>

	        		<% if  @property.contact_phone.present? %>
		        		<tr>
		        			<td> <%=t("properties.contact_phone")%> </td>
		        			<td><strong><%= @property.contact_phone %></strong></td>
		        		</tr>
		        	<% end %>	

		        	
	        		<tr>
	        			<td> <%=t("properties.contact_email")%> </td>
	        			<!--<td><button id="email_btn" data-toggle="modal" href="" data-target="#myModal" class="btn btn-lg btn-mail"><span id="span_email" class="glyphicon glyphicon-envelope"></span></button></td>-->
	        			<td>
	        				<a href="/contact_forms/new?id=<%= @property.id %>"  data-toggle="modal" data-target="#remoteModal" class="btn btn-default"> <%=t("contact_forms.sent_mail_to_owner")%> </a>
	        			</td>
	        				 
	        		</tr>
	        		
	        			
	        	</tbody>	
	        </table>	

	         
		    

          	<!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->

        </div><!-- /.col-lg-6 -->


        <div class="col-lg-6">
        	 <span><h3 class="top_h3"> <%=t("properties.description")%> </h3> </span>  
                <div id="p_description"><%= @property.description %></div>
        	
		    <span><h3> <%=t("properties.information")%> </h3> </span>
		    <div class="col-xs-12 col-md-6">
		    	<table class="table table-hover" >
			    	<tbody>  
	          			<tr>  
			            	<td> <%=t("properties.type")%> </td>  
			            	<td><%= render_type @property.category %> </td>  
			          	</tr> 

			          	<tr>  
			            	<td> <%=t("properties.bed")%> </td>  
			            	<td><strong><%= @property.bed %> </strong></td>  
			          	</tr>

			          	<tr>  
			            	<td> <%=t("properties.bath")%> </td>  
			            	<td><strong><%= @property.bath %></strong></td>  
			          	</tr>

			          	<% if @property.start_date.present? %>
				          	<tr>  
				            	<td> <%=t("properties.start_date")%> </td>  
				            	<td><strong><%= @property.start_date %></strong></td>  
				          	</tr>
			          	<% end %>

			          	<% if @property.people.present? && (@property.category == '2') %>
				          	<tr>  
				            	<td> <%=t("properties.people")%> </td>  
				            	<td><strong><%= @property.people %></strong></td>  
				          	</tr>
			          	<% end %>

			          	
			          	<% if !(@property.category == '2') %>
				          	<tr>  
				            	<td> <%=t("properties.utilities")%> </td>  
				            	<td><strong><%= render_utilities @property.hasElectricity, @property.hasHeat, @property.hasInternet %></strong></td>  
				          	</tr>
			          	<% end %>

		          	</tbody>
			    </table>	
				
		    </div>
		    <div class="col-xs-12 col-md-6">
		    	<table class="table table-hover" >
			    	<tbody>  
	          			<tr>  
			            	<td> <%=t("properties.price")%> </td>  
			            	<td><strong>$ <%= price_on_type @property.price, @property.category %></strong></td>  
			          	</tr> 

			          	<% if @property.deposit.present? && !(@property.category == '2') %>
				          	<tr>  
				            	<td> <%=t("properties.deposit")%> </td>  
				            	<td><strong><%= @property.deposit %> /Month</strong></td>  
				          	</tr>
			          	<% end %>

			          	
			          	<% if @property.contract.present? && !(@property.category == '2') %>	
				          	<tr>  
				            	<td> <%=t("properties.contract")%> </td>  
				            	<td><strong><%= @property.contract %> /Month</strong></td>  
				          	</tr>
			          	<% end %>

			          	<% if @property.broker_fee.present? && !(@property.category == '2') %>
				          	<tr>  
				            	<td><%=t("properties.broker_fee")%></td>  
				            	<td><strong>$ <%= @property.broker_fee %></strong></td>  
				          	</tr>
			          	<% end %>

			          	<tr>  
			            	<td> <%=t("properties.gender_required")%> </td>  
			            	<td><strong><%= render_gender @property.gender %></strong></td>  
			          	</tr>

			          	<% if @property.pet.present? && !(@property.category == '2') %>
				          	<tr>  
				            	<td> <%=t("properties.pets_allowed")%> </td>  
				            	<td><strong><%= render_pet @property.pet %> </strong></td>  
				          	</tr>
			          	<% end %>

		          	</tbody>
			    </table>	

		    </div>		

		   
		   
		   
        </div><!-- /.col-lg-6 -->



    </div><!-- /.row -->

    <div class="row">
    	
    	<div id="map-canvas" style=" height: 450px" class="col-md-6"></div>
    	<div id="pano" style=" height: 450px" class="col-md-6"></div>
    	
    </div>	





<!-- Modal -->  
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">  
    <div class="modal-dialog">  
        <div class="modal-content">
        </div>  
    </div>  
</div>  
<!-- /.modal -->  




<script type="text/javascript">
	FB.XFBML.parse();
	
	//replace photo
    $( ".small_photo" ).click(function(event) {
        // prevent link action
        event.preventDefault();

        //replace big photo's content 
        $('#p_photo_0').html($(this).html());
        //alert($('#p_photo_0').html());
        //$('div#p_photo_0 img').css({'width' : '550px' , 'height' : '360px'});
        $('div #p_photo_0 img').css({'width' : '100%' });
        
    }); 






	$( "#email_btn" ).hover(function() {
	
		$( this ).fadeOut( 500 );
		$( this ).fadeIn( 500 );
	
	});




    /* for collection button
        				
	$( "#collection_btn" ).hover(function() {
		if (! $( "#span_heart" ).hasClass( "red" )) {
			$( this ).fadeOut( 500 );
			$( this ).fadeIn( 500 );
		}	
	});
 	*/
	
	$(document).on("click", "#collection_btn", function(){  
     	//chekc if login?
     	if ( <%= signed_in? %>) {
	     	var url;
	     	var p_id = "<%= @property.id %>";
	     	//alert(p_id);
	     //if there's a heart then remove this property from list and change the color of the heart
	     	if ($( "#span_heart" ).hasClass( "red" )) {
                url = "/collections/" + p_id + "/del";
            } else {
                url = "/collections/" + p_id + "/add";
            }
			          
	        $.ajax({
	         
	          url: url,
	          //type: type,
	          cache: false,
	          contentType: false,
	          processData: false,
	          //dataType: 'json', 
	          
	          success: function(){
	          	//alert('added');
	          	if ($( "#span_heart" ).hasClass( "red" )) {
	     			$('#span_heart').removeClass("red");
	     		} else {
	     			$('#span_heart').addClass("red");
	     		}
	          },
	          error: function(){
	          	//alert('failure');
	          }
	        })

        } else {   // not login
     		
     		alert("please signin first");
     	}

        return false;
    }); 
     

</script>












