
<style>
	li {
        font-size: 1.3em;
        margin: 0 0 8px 0;

    }

    .col-centered{
        float: none;
        margin: 0 auto;
    }
</style>

 

    <ul class='list-unstyled'>    
        <li > <strong><%= render_city_state property %> </strong></li>   
        
        <li> <%= price_on_type property.price, property.category %> </li>
      
        <li> <%= render_type property.category %>  </li>

        <li> <%= pluralize(property.bed, "  Bed") %>/ <%= pluralize(property.bath, "  Bath") %></li>

    </ul>
    <div class="pull-right"><a href='/properties/<%= property.id %>'>Details</a></div>
    

   

