
<style>
	li {
        font-size: 1.3em;
        margin: 0 0 8px 0;

    }
</style>




    <ul class='list-unstyled'>    
        <li > <strong> <%= property.city.upcase %>, <%= property.state.upcase %> </strong></li>   
        
        <li> <%= price_on_type property.price, property.category %> </li>
      
        <li> <%= render_type property.category %>  </li>

        <li> <%= pluralize(property.bed, "  Bed") %>/ <%= pluralize(property.bath, "  Bath") %></li>

    </ul>
    <a href='/properties/<%= property.id %>'>Details</a>
   
    

   

