
<% provide(:title, "Search ") %>

<style>
	

	
	.center-block {
		float:none;
		width:80%;
		opacity: .9;
	}

    .main {
   
    width: 100%;  
    height: 1080px; padding-top: 100px;
      background: url(<%= asset_path 'index/bg.png' %>) no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
   
    }
    
    
	
  
</style>

<script>
$('.dropdown-menu li').click(function(e){
  e.preventDefault();
  var selected = $(this).text();
  $('.category').val(selected);  
});

</script>

<div class="main">
    

    <div class="vert-text">
    		<span class="title"> Find Your Home </span><br>
        	<span class="sec-title gray"> Start to search apt around you...</span>
    </div>

    <div class="row form_section">
    	
        <div class="center-block">
        	
        	<%= form_tag searches_path, :method => :get, :class => "" do %>	
        		<div class="row">
        		<div class="form-group col-xs-12 col-md-6">
        			
        			<%= text_field_tag :location, params[:location], :class => "form-control input-lg", :id => "input_search", :style => "width:100%;", :placeholder => "Search by neighborhood city, zipcode or address" %>
        		</div>	

        		<div class="form-group col-md-3">
        			<%= submit_tag "Search", :class => "btn-lg btn btn-danger" %>
        			
        			<strong style="margin-left: 80px; font-size:1.3em;">or detect by </strong>
        			
        		</div>	
    	    	
    	    	
    	    	
    	    	<div class="form-group col-md-2">
        			<%= submit_tag "Your location", :class => "btn-lg btn btn-danger" %>
        		</div>	
    	    	</div>
    	    	
    	    	
        	
        	<% end %>
           
        	
        </div>
    </div>
 </div>

