<% if @properties.present? %>
    <%= will_paginate @properties %>
<% end %>    

    <div class="row">
        <div class="col-lg-12">
           Sort by &nbsp;&nbsp;  <span><%= sortable 'created_at', 'Time' %></span>&nbsp; |&nbsp; <span> <%= sortable 'price', 'Price' %> </span>
        </div>
    </div>     



<% if @properties.present? %>
     <% @properties.each do |p| %>

    <a id="<%= p.id %>" href="#msg" class="property_item">
    
    <div class="row box list-group-item "> 

        <div class="col-lg-6 nopadding">
    
            <% if p.photos.first.present? %> 
            
               <img src="<%= p.photos.first.image_url_medium %>" alt="no image" class=" img_size col-lg-12 img-rounded">
          

            <% else %>
               <img class="col-lg-12 img-rounded" data-src="holder.js/250x100">
            <% end %>
        
        </div>

        <div class="col-lg-6 ">
            <ul class="list-unstyled">  
                <li> <%= p.id %> </li>  
                <li > <strong> <%= render_city_state p %> </strong></li>   
                
                <li> <%= price_on_type p.price, p.category %> </li>
              
                <li> <%= render_type p.category %>  </li>

                <li> <%= pluralize(p.bed, "  Bed") %>/ <%= pluralize(p.bath, "  Bath") %></li>

            </ul>
            <div class="pull-right">
                <span class="timestamp"> Posted <%= time_ago_in_words(p.created_at) %> ago. </span>
            </div>     

        </div><!-- /col-->  


    </div><!-- /row --> 
    </a>

    <!--<hr> -->
    <% end %> <!-- /each -->
<% end %> <!-- /if -->

<% if @properties.present? %>
    <%= will_paginate @properties %>
<% end %>      
            
       
        
            
        <!--<img class="img-round" data-src="holder.js/1170x500" alt="Generic placeholder image">-->
       
