<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCclwbSN5TG86Q-k3pWEBOlu2KY6Llc23A&sensor=true"></script>
  <script src='https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
  <script src='https://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js' type='text/javascript'></script>
  <script src='https://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script> 



<style>

    #map-canvas {
        width:100%;
        height:600px ;
        margin: 0px;
        padding: 0px;
        margin-top: 138px;
      }

    .img_size {
        max-height: 200px;

    }
   
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .list-unstyled > li {
        font-size: 1.3em;
        margin: 0 0 8px 0;

    }

    a:hover > div {
        background-color: #eee;
    }
     
    .small_photo {
        width: 100px;
        height: 90px;
        overflow: auto;
    }

    .detail {
        
        margin-bottom: 20px;
        

    } 

    .detail_section {
        border: 2px solid #E3E3E3;
        padding: 30px;
    }

    .search_section,
    .more_section > .row {
       /* 
        background-color: #F5F5F5;
        border: 1 none;
       */ 
        padding: 15px;
       
    }

    .well {
        background-color: #F5F5F5 !important;
        border: 1px solid #E3E3E3;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
        margin-bottom: 20px;
        min-height: 20px;
        padding: 19px;
    }

    .well-small {
        background-color: rgba(86, 61, 124, 0.15)   !important;
        border: 1px solid #E3E3E3;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
        margin-bottom: 20px;
        min-height: 20px;
        padding: 19px;
    }

    
   
</style> 





<% provide(:title, "Result ") %>


<%#= form_tag, url: { :action => "index"}, :method => :get do |f| %>
<%= form_tag searches_path, :method => :get, :id => "search_form" do %>
    
   
    <div class="well ">
    <!-- search area -->
    <div id="top" class="row ">

        <div class="col-lg-2 col-md-6 col-xs-12" style="margin-left: 15px;">

            <label for="type_select"> Category </label>
            <select class="form-control" id="type_select" name="category">
                <option value="">All</option>
                <option value="0">Rent</option>
                <option value="1">Shard Apt.</option>
                <option value="2">Sublease</option>
            </select>
            
        </div>

        <div class="col-lg-2 col-md-6 col-xs-12 ">
            <label for="bed_select"> Bed </label>
            <select class="form-control" id="bed_select" name="bed">
                <option value="">Any</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3+</option>
            </select>

        </div> 

        <div class="col-lg-2 col-md-6 col-xs-12">

            <label for="bath_select"> Bath </label>
            <select class="form-control" id="bath_select" name="bath">
                
                <option value="">Any</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2+</option>
            </select>
        </div>

        <div class="col-lg-2 col-md-6 col-xs-12">

            <label for="datepicker"> Start Date </label>
            <div class="input-daterange datepicker input-group" id="datepicker" style="margin-top: -4px;">

                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>

                <input type="text" class="form-control" name="start_date" id="start_date" placeholder="Start Date"/>
            </div>     
        </div>    

        <div class="col-lg-2 col-xs-12">
            <label for="slider"> Price </label>
            <div class="input-group ">
                
                <input id="slider" type="text" class="span2 slider" value="" data-slider-min="0" data-slider-max="
                <%= max_price @properties %>" data-slider-step="<%= slider_step @properties %>" data-slider-value="0" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show" name="price" >
                        
            </div>

        </div>

         <div class="col-lg-1 col-xs-12 non-visibile" id="people-sec">
            <label for="slider-1"> People </label>
            <div class="input-group ">
                
                <input id="slider-ppl" type="text" class="span2 slider" value="" data-slider-min="" data-slider-max="10" data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show" name="people" >
                        
            </div>

        </div>

       


    </div><!-- /search area -->  
    
    <div class="row">
         <div class="col-lg-3 col-xs-12 pull-right" style="margin-top: 25px; padding-left: 80px;padding-right: 0px;">            
            <div class="input-group ">
                <button id="more_btn" type="button" class="btn btn-default">More <span id="more_span" class="glyphicon glyphicon-chevron-down "></span></button>
              
                <%= submit_tag "Search", :class => " btn btn-success" %>
                <button type="button" class="btn btn-link btn-sm" id="reset">reset</button>
            </div>    
            <!--<button type="button" class="btn btn-primary" id="search_btn">Search </button> -->
            <%#= f.submit("Search", :class => "btn btn-primary") %>
            <%= hidden_field_tag :direction, params[:direction] %>
            <%= hidden_field_tag :sort, params[:sort] %>
            <%#= hidden_field_tag :hasContract, params[:hasContract] %>
            <%#= hidden_field_tag :hasBokerFee, params[:hasBokerFee] %>
            <%#= hidden_field_tag :hasDeposit, params[:hasDeposit] %>
            
        </div>
    </div>    


    <div class=" more_section">

        <div class="row">
            <!--
            <div class="col-lg-4 col-xs-12" id="utility-sec">
                <label> include utility </label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                    <input name="utility" type="radio" value="0" /><span id="utility_0">None</span>
                    </label>
                    <label class="btn btn-default">
                    <input name="utility" type="radio" value="1" /><span id="utility_1">Electrocity</span>
                    </label>

                    <label class="btn btn-default ">
                    <input name="utility" type="radio" value="2" /><span id="utility_2">Heat</span>
                    </label>

                    <label class="btn btn-default ">
                    <input name="utility" type="radio" value="3" /><span id="utility_3">Internet</span>
                    </label>

                    <label class="btn btn-default active ">
                    <input  name="utility" type="radio" value="4" /><span id="utility_4">All</span>
                    </label>

                </div>
            </div>    
            -->

            

            <div class="col-lg-3 col-xs-12" id="pet-sec">
                <label> allowed pets </label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                    <input name="pet" type="radio" value="0"/><span id="pet_0">No</span>
                    </label>
                    <label class="btn btn-default">
                    <input name="pet" type="radio" value="1" /><span id="pet_1">Cat</span>
                    </label>

                    <label class="btn btn-default ">
                    <input  name="pet" type="radio" value="2" /><span id="pet_2">Dog</span>
                    </label>

                    <label class="btn btn-default ">
                    <input name="pet" type="radio" value="3" /><span id="pet_3">All kinds</span>
                    </label>

                </div>
                
            </div> 

            <div class="col-lg-3 col-xs-12" id="gender-sec">
                <label> gender require </label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                    <input name="gender" type="radio" value="0"/><span id="gender_0">None</span>
                    </label>
                    <label class="btn btn-default">
                    <input id="" name="gender" type="radio" value="1" /><span id="gender_1">Women only</span>
                    </label>

                    <label class="btn btn-default ">
                    <input id="" name="gender" type="radio" value="2" /><span id="gender_2">Men only</span>
                    </label>

                </div>
            </div> 


            <div class="col-lg-4 col-xs-12" id="bdc-sec">
                <label> Utilities </label>
                    <div class="btn-group"> 
                    <div class="btn-group" data-toggle="buttons">     
                        <label class="btn btn-default">
                            <input name="noBrokerFee" type="checkbox"> No Broker Fee
                        </label>
                    </div>

                    <div class="btn-group" data-toggle="buttons">     
                        <label class="btn btn-default">
                            <input name="noDeposit" type="checkbox"> No deposit
                        </label>
                    </div>

                    <div class="btn-group" data-toggle="buttons">     
                        <label class="btn btn-default">
                            <input name="noContract" type="checkbox"> No Contract
                        </label>
                    </div>
                </div>
                               
            </div>    
            
          
        </div><!--/end of row -->

        <div class="row">

               


            <div class="col-lg-6 col-xs-12">
                <label> New Search </label>

                <%= text_field_tag :location, params[:location], :class => "form-control input-lg", :id => "input_search" %>

                

            </div>

        </div><!--/end of row --> 

    </div><!-- /endof more> -->
    </div>
   

<% end %> <!--end of form -->



 <!-- response area --> 
    <div class="well-small ">

        <div id="msg" style="margin-left: 15px;"><h4> You are looking for the properties near  <%= @search_query %></h4>We found : <%= pluralize(@count, "record") %>  
        </div>
    </div>

<!-- /response area -->

<!-- detail -->

<div id="detail_section" class="detail_section hidden" >
    <%= render 'detail' %>
</div>   


<!-- /detail -->


<div class="row ">
    <div class="col-lg-7 hidden-xs">

        <div id="map-canvas"></div>
    
    </div>

    <div class="col-lg-5 ">
        
        <div id="items"><%= render '/searches/property' %></div>
    </div>
   
</div>    







<script type="text/javascript">
    buildMap(<%=raw @hash.to_json %>);
  
</script>

<script>

    $(function () {
        
        // make link to use ajax
        $('.container').on('click', '#items span a, #items pagination a', function () {    
            $.getScript(this.href);
            return false;
        });

         // Search form.
        $('#search_form').submit(function () {
            $.get(this.action, $(this).serialize(), null, 'script');             
            return false;
        });
    })

</script>


<script type="text/javascript">

    // when select a property then show the detail panel
    // $( ".property_item" ).click(function() {
    $('.container').on('click', '.property_item',function () {    
       
        if(!$('.detail_section').is(':visible')){     

            $( ".detail_section" ).removeClass('hidden');
            $( ".detail_section" ).addClass('visible');
        }
        //event.preventDefault();
        //alert(this.id);
        //return false;
        var p_id = this.id;

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/searches/" + p_id,
            processData: false,
            success: function(data){

                
                //facebook share                
                //var link = "http://around-u.org/properties/" + p_id
                //$('#fb_share').html("");

                $('.fb-like').attr('data-href', "http://around-u.org/properties/" + p_id); 
                FB.XFBML.parse();

                // set id to detail partial
                $('.detail').attr('id', p_id);


                //infomation
                if (data.category == 0) {
                    $('#p_type').html("<kbd>Rent</kbd>" );
                    $('#p_price').html("<code>" + data.price + "</code>/month");
                } else if (data.category == 1) {
                    $('#p_type').html("<span class='label label-success'>Shared Apt.</span>" );
                    $('#p_price').html("<code>" + data.price + "</code>/month");
                } else {
                    $('#p_type').html("<span class='label label-warning'>Sublease</span>" );
                    $('#p_price').html("<code>" + data.price + "</code>/day");

                }
                
                

                $('#p_bed').html(data.bed );
                $('#p_bath').html(data.bath );

                if (data.gender == 0) {
                    $('#p_gender').html("None" );
                } else if (data.gender == 1) {
                    $('#p_gender').html("Women Only" );
                } else {
                    $('#p_gender').html("Men Only" );
                }
               
                

                if (data.start_date != null) {
                    $('#p_date').closest('tr').removeClass("hide");
                    $('#p_date').html(data.start_date );
                } else {
                    $('#p_date').closest('tr').addClass("hide");
                }
                
                if (data.category == 2) {
                   
                    $('#p_utility').closest('tr').addClass("hide");
                    $('#p_broker_fee').closest('tr').addClass("hide");
                    $('#p_deposit').closest('tr').addClass("hide");
                    $('#p_contract').closest('tr').addClass("hide");
                    $('#p_pet').closest('tr').addClass("hide");

                    if (data.people == null) {
                        $('#p_people').closest('tr').addClass("hide");
                    } else {
                        $('#p_people').closest('tr').removeClass("hide");
                        $('#p_people').html(data.people );
                    }

                } else {
                    $('#p_people').closest('tr').addClass("hide");

                       
                    // utility    
                    var content = "";
                    if ( data.hasElectricity != true && data.hasHeat != true && data.hasInternet != true) {
                        content = "Not Included";
                    } else{
                        if(data.hasElectricity == true) {
                           content = "Electrocity " ;
                        }
                        if(data.hasHeat == true) {
                            content += "Heat " ;    
                        }
                        if(data.hasInternet == true) {
                           content += "Internet" ;
                        }
                    }
                    
                    $('#p_utility').html(content);
                    $('#p_utility').closest('tr').removeClass("hide"); 
                   


                    if (data.broker_fee == null) {
                        $('#p_broker_fee').closest('tr').addClass("hide");
                    } else {
                        $('#p_broker_fee').html(data.broker_fee );
                        $('#p_broker_fee').closest('tr').removeClass("hide"); 
                    }   
                    
                    if (data.deposit == null) {
                        $('#p_deposit').closest('tr').addClass("hide");
                    } else {
                        $('#p_deposit').html( data.deposit);
                        $('#p_deposit').closest('tr').removeClass("hide"); 
                    }  
                  
                    if (data.contract == null) {
                        $('#p_contract').closest('tr').addClass("hide");
                    } else {
                        $('#p_contract').html( data.contract);
                        $('#p_contract').closest('tr').removeClass("hide"); 
                    }  

                    if (data.pet == null) {
                        $('#p_pet').closest('tr').addClass("hide");
                    } else {
                        if (data.pet == 0 ){
                            $('#p_pet').html( "No");
                        } else if (data.pet == 1) {
                            $('#p_pet').html( "Cat");
                        } else if (data.pet == 2) {
                            $('#p_pet').html( "Dog");
                        } else {
                            $('#p_pet').html( "Any kind");
                        }           
                        $('#p_pet').closest('tr').removeClass("hide"); 
                    }  
                
                }



                $('#p_description').html(data.description);
                //$('#p_pet').html(data.description);
                //$('#p_gender').html(data.description);

                //contact
                $('#p_address').html(data.all_address);
                $('#p_contact_name').html(data.contact_name);

                //mail
                $('#send_mail').attr('href',"/contact_forms/new?id=" + data.id)

                if (data.contact_phone == null) {
                    $('#p_contact_phone').closest('tr').addClass("hide");
                } else {
                    $('#p_contact_phone').closest('tr').removeClass("hide");
                    $('#p_contact_phone').html(data.contact_phone );
                }

                //photos
                $.each( data.photos, function( key, value ) {
                    //alert( this.id + ": " + value.image_url_medium );
                    // for the first photo
                    if (key == 0) {

                        $('#p_photo_0').html(" <img width='100%' class='img-thumbnail' src='" + value.image_url_medium +"' >");
                    }

                    $('#p_photo_' + (key + 1)).html(" <img class='img-thumbnail' src='" + value.image_url_medium +"' width='100' height='80' >");
                        
                });

                //alert(data.category);
                //alert(data.photos[0].image_url_medium);                    

            },
            error: function() {

                //alert("e");
            
            }

        }); 
        //return false;
        //alert('end');

        //chekc if login?
        if ( <%= signed_in? %>) {
            // asking if this one collected already
            $.ajax({
                type: "GET",
                //dataType: "json",
                url: "/collections/" + p_id + "/collect",
                processData: false,
                success: function(json){
                    // empty json, not in user's collection
                    if ( json.length == 0 ) {
                        //console.log("NO DATA!");
                        $( "#span_heart" ).removeClass('red');
                    } else {
                        //add red class to the button
                        $( "#span_heart" ).addClass('red');
                    }

                }, error: function () {
                    //alert("err");
                }
            });
        } else {
            // can not add to the collection list unless signed in
            $( "#collection_btn" ).addClass('disabled');
        
        }// end of signedin

    });

    //close detail section
    $( "#btn_close" ).click(function() {
       
        if($('.detail_section').is(':visible')){                            
            $( ".detail_section" ).removeClass('visible');
            $( ".detail_section" ).addClass('hidden');
        }

    }); 

    //replace photo
    $( ".small_photo" ).click(function(event) {
        // prevent link action
        event.preventDefault();

        //replace big photo's content 
        $('#p_photo_0').html($(this).html());
        //alert($('#p_photo_0').html());
        //$('div#p_photo_0 img').css({'width' : '550px' , 'height' : '360px'});
        $('div #p_photo_0 img').css({'width' : '100%' });
        
    }); 

    //add this property to user's collection
    $(document).on("click", "#collection_btn", function(){  
        var p_id = $('.detail').attr('id');
        //alert(p_id);   
        var url;
        //chekc if login?
        if ( <%= signed_in? %>) {
            
         
         //if there's a heart then remove this property from list and change the color of the heart
            if ($( "#span_heart" ).hasClass( "red" )) {
                url = "/collections/" + p_id + "/del";
            } else {
                url = "/collections/" + p_id + "/add";
            }

            $.ajax({
                type: "GET",
                //dataType: "json",
                url: url,
                processData: false,
                success: function(json){
                    // empty json, not in user's collection
                    if ($( "#span_heart" ).hasClass( "red" )) {
                        $( "#span_heart" ).removeClass('red');
                    } else {
                        //add red class to the button
                        $( "#span_heart" ).addClass('red');
                    }

                }, error: function () {
                    //alert("err");
                }
            });

            
        }// end of signed in
    });          


    // show or hide depends on category
    $( "#type_select" ).change(function() {
        // if select sublease then show people
        if ($( "select option:selected" ).val() == '2') {
            $( "#people-sec" ).removeClass('non-visibile');
            
            $( "#utility-sec" ).addClass('non-visibile');
            $( "#pet-sec" ).addClass('non-visibile');
            $( "#bdc-sec" ).addClass('non-visibile');

            // remove checked items on bdc
            $(':checkbox').attr('checked', false);
            $( "#bdc-sec" ).find( "label" ).removeClass( "active" );


        } else {
            if (!$( "#people-sec" ).hasClass('non-visibile')) {
                $( "#people-sec" ).addClass('non-visibile');

                $( "#utility-sec" ).removeClass('non-visibile');
                $( "#pet-sec" ).removeClass('non-visibile');
                $( "#bdc-sec" ).removeClass('non-visibile');


            } 
            $( "#slider-ppl" ).val('0');
            $( "#slider-ppl" ).slider('setValue',0);


        }

    });

    //reset

    $('.container').on('click', '#reset', function () { 
    
        $('#start_date').val('');

        //$('#type_select').val('');
        //$('#type_select option:first-child').attr("selected", "selected");
        //$("#type_select option:first-child").attr("selected", "selected");

        $('#type_select').val("");
        $('#bath_select').val("");
        $('#bed_select').val("");

        $( "#slider-ppl" ).val('0');
        $( "#slider-ppl" ).slider('setValue',0);

        $( "#slider" ).val('0');
        $( "#slider" ).slider('setValue',0);
        $(':checkbox').attr('checked', false);
        $( "#bdc-sec" ).find( "label" ).removeClass( "active" );

    
    });    


</script>
    

    
    
<script type="text/javascript">
    $('#datepicker').datepicker();
    //set up slider 
    $('.slider').slider()
        .on('slide', function(ev){

    });

    // set default false to noDeposit noContract noBrokerFee    
    $(':checkbox').attr('checked', false);

    // $(document).ready(function () {  
        

    // handle more information section
    $( "#more_btn" ).click(function() {
        
        if(!$('.more_section').is(':visible')){
            $( ".more_section" ).fadeIn( "slow");
            $('#more_span').removeClass("glyphicon-chevron-down");
            $('#more_span').addClass("glyphicon-chevron-up");

        } else {
            $( ".more_section" ).fadeOut( "slow");
            $('#more_span').removeClass("glyphicon-chevron-up");
            $('#more_span').addClass("glyphicon-chevron-down");
        }
        
        //$( ".more_section" ).fadeToggle(1000);

    }); //more section




    // }); // ready function 
</script>



