<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCclwbSN5TG86Q-k3pWEBOlu2KY6Llc23A&sensor=true"></script>
  <script src='https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
  <script src='https://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js' type='text/javascript'></script>
  <script src='https://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script> 



<style>

    #map-canvas {
        width:100%;
        height:440px ;
        margin: 0px;
        padding: 0px;
      }

     
</style> 




<% provide(:title, "Result ") %>


<%= form_for @property, url: { :action => "index"}, :method => :get do |f| %>

<div class="row box">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="btn-group check_box" data-toggle="buttons">
            <label class="btn btn-default category_1">

           
            <input id="category_1" name="property[category][]" type="checkbox" value="Whole" />
            <%#= f.check_box :category, :id => "category_1" %> Whole
            </label>
            <label class="btn btn-default category_2">
            <input id="category_2" name="property[category][]" type="checkbox" value="Shared Apt " />
             <%#= f.check_box :category, :id => "category_2"%> Shared Apt 
            </label>
            <label class="btn btn-default category_3">
            <input id="category_3" name="property[category][]" type="checkbox" value="Sublease" />
            <%#= f.check_box :category, :id => "category_3"%> Sublease
            </label>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 date_section">
         <div class="input-daterange datepicker input-group" id="datepicker">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <input type="text" class="form-control st" name="start_date" id="start_date"/>
            <span class="input-group-addon"> to </span>                
            <input type="text" class="form-control" name="end_date" id="end_date"/>             
        </div>
    </div>    


     <div class="col-lg-4 col-md-6 col-sm-6 room_section">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default btn-title ">Bed</label>
            <label class="btn btn-default">
            <%= radio_button :property, :bed, "1" %> 1
            </label>
            <label class="btn btn-default">
            <%= radio_button :property, :bed, "2" %> 2
            
            </label>
            <label class="btn btn-default">
            <%= radio_button :property, :bed, "3" %> 3+
            </label>
        </div>

   
         <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default btn-title">Bath</label>

            <label class="btn btn-default">
            <%= radio_button :property, :bath, "0" %> 0    
            
            </label>
            <label class="btn btn-default">
            <%= radio_button :property, :bath, "1" %> 1
            
            </label>
            <label class="btn btn-default">
            <%= radio_button :property, :bath, "2" %> 2+
            
            </label>
        </div>
        
    </div>

    <div class="col-lg-3 col-sm-6">
        <div class="input-group ">

            <span class="input-group-addon">Rent $</span>
            <%= f.text_field :price, :class => "form-control text-right", :placeholder => "US Dollar/month" %>
            <span class="input-group-addon">.00</span>
        </div>

    </div>

    <div class="col-lg-2 col-sm-6">
        <button id="more_btn" type="button" class="btn btn-default ">More <span id="more_span" class="glyphicon glyphicon-chevron-down "></span></button>

        <!--<button type="button" class="btn btn-primary" id="search_btn">Search </button> -->
        <%= f.submit("Search", :class => "btn btn-primary") %>
    </div>

</div>

<div class="row box more_section">
    <img class="img-round" data-src="holder.js/1170x200" alt="Generic placeholder image">
</div>    

<% end %> <!--end of form -->


<div class="row box">

   
        <div id="map-canvas"></div>
   
</div>    

<div class="row box">   
        
    <% if @properties.present? %>
        <%= @properties.first.address1 %>
        <img class="img-round" data-src="holder.js/1170x500" alt="Generic placeholder image">
    <% end %>

            

</div>

<script type="text/javascript">
    buildMap(<%=raw @hash.to_json %>);  
</script>


<script type="text/javascript">
// gamps4rails
//    handler = Gmaps.build('Google');
//    handler.buildMap({ provider: {}, internal: {id: 'map-canvas'}}, function(){
        /*
        markers = handler.addMarkers([
        {
          "lat": 0,
          "lng": 0,
          "picture": {
            "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
            "width":  36,
            "height": 36
          },
          "infowindow": "hello!"
        }
        ]);
        */
//        markers = handler.addMarkers(<%=raw @hash.to_json %>);
//        handler.bounds.extendWith(markers);
//        handler.fitMapToBounds();
//    });


</script>


 
    
<script type="text/javascript">
    $('#datepicker').datepicker();

   // $(document).ready(function () {  
        

        // handle more information section
        $( "#more_btn" ).click(function() {
            
            if(!$('.more_section').is(':visible')){
                $( ".more_section" ).fadeIn( "slow");
                $('#more_span').removeClass("glyphicon-chevron-down");
                $('#more_span').addClass("glyphicon-chevron-up");

            } else {
                $( ".more_section" ).fadeOut( "slow");
                $('#more_span').removeClass("glyphicon-chevron-up");
                $('#more_span').addClass("glyphicon-chevron-down");
            }
            
            //$( ".more_section" ).fadeToggle(1000);

        }); //more section

        // handle calendar and rooms
        $( ":checkbox" ).change(function() {

            if (this.id == "category_1" || this.id == "category_2") {
                
                $('#category_3').prop('checked', false);  //remove checked
                $('.category_3').removeClass('active');   //remove active class
                $(".date_section").fadeOut();  //hide date
                $(".room_section").fadeIn();   //show  room

            } else if (this.id == "category_3") {
                
                $('#category_1').prop('checked', false);
                $('#category_2').prop('checked', false);

                $('.category_1').removeClass('active');
                $('.category_2').removeClass('active');
                
                $(".room_section").fadeOut(); 
                $(".date_section").fadeIn();       

            }  
            
            
        });  // handle calendar and rooms


    // }); // ready function 
</script>



