<div class="">	
  <footer>
    <div class="container">

    	<div class="row">
    		<div class="col-xs-4">
    			<div class="panel panel-primary">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				         <%= t("layouts.footer.about_around_u") %>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse">
				      <div class="panel-body">
				       <%= t("layouts.footer.about_around_u_content") %>
				      </div>
				    </div>
				  </div>
    		</div>
    		<div class="col-xs-4">
    			<div class="panel panel-success">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSecond">
				         <%= t("layouts.footer.terms_and_privacy") %>
				        
				        </a>
				      </h4>
				    </div>
				    <div id="collapseSecond" class="panel-collapse collapse">
				      <div class="panel-body">
				        <%= t("layouts.footer.terms_and_privacy_content") %>
				      </div>
				    </div>
				  </div>
    		</div>
    		<div class="col-xs-4">
    			<div class="panel panel-info">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
				         <%= t("layouts.footer.contact_us") %>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse">
				      <div class="panel-body">
				        <%= t("layouts.footer.contact_us_content") %>
				      </div>
				    </div>
				  </div>
    		</div>
    	</div>	


     	<div class="pull-right"> <a href="#"> Back to the top </a> </div>
    	<div>&copy 2014 Company Co. <a href="#">Terms of Service</a> <a href="/privacy">Privacy</a></div>
            
    </div>
  </footer>
  
</div>
