<style type="text/css">
.mini-img {
  margin-top: -20px; 
  padding-top: 0px;
}

.input-group {
  width:100%;
}

.navbar-input-group {
  font-size: 0px; /*removes whitespace between button and input*/
}

.navbar-input-group input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar-input-group .btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}

</style>

<nav class="navbar navbar-fixed-top navbar-custom" role="navigation">
  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        
        
      </button>
      <%= link_to root_path , class: "navbar-brand",  "data-no-turbolink" => true do %>
        <%= image_tag 'index/logo.jpg' %>
      <% end %>
      
                  
    </div>
    

    <div class="collapse navbar-collapse">

      <% if !current_page?(root_path) %>
        <%= form_tag searches_path, :method => :get, :class => "navbar-form navbar-left navbar-input-group", :role => "search" do %>

          <div class="nav navbar-nav">
            <%= text_field_tag :location, params[:location], :class => "form-control", :id => "input_search", :style => "width:280px;", :placeholder => "Search a new location by city, zipcode ..." %>
            <span class="">
              <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
        
          </div>

        <% end %>
      <% end %>

      <ul class="nav navbar-nav">
        <!--
        <li class="active"> <%#= link_to "Home", home_path %> </li>
        -->
        <li><%#= link_to t("header.about"), about_path %></li> 
        <li class="<%#= 'active' if current_page?(searches_path) %>"><%#= link_to t("header.search"), searches_path,  "data-no-turbolink" => true %></li>

        <% if signed_in? %>
          
          <% if current_user.can_post %>
            <li class="<%= 'active' if current_page?(new_property_path) %>"><%= link_to t("header.post"), new_property_path %></li>
          <% end %>

          <% if current_user.admin? %>
            <li class="<%= 'active' if current_page?(properties_path) %>"><%= link_to t("header.properties"), properties_path %></li>
            <li><%= link_to  t("header.users"), users_path %> </li>
          <% end %> 

        <% end %>
      </ul>

      
      
      <div class="nav-right">
        
        <ul class="nav navbar-nav">
          

          <% if signed_in? %>
            
  
            <li><div class="mini-img"><img class="img-circle" src= <%= render_image %>  width="64" height="64"></div></li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= t("header.my_account") %> <b class="caret"></b></a>
                <ul class="dropdown-menu">

                  <li><%= link_to t("header.profile"), current_user, method: "get" %></li>
                  <li><%= link_to t("header.settings"), edit_user_registration_path(current_user), method: "get" %></li>
                  <li class="divider"> </li>
                  <li><%= link_to t("header.sign_out"), destroy_user_session_path, method: "delete"  %></li>

                </ul>

              </li>  
          
          
          <% else %>

            <li><%= link_to t("header.sign_up"), new_user_registration_path %></li>
            <li><%= link_to t("header.log_in"), new_user_session_path %></li>

          <% end %>

          <li>
          <%= link_to "中文版", :controller => controller.controller_name, 
             :action => controller.action_name, :locale => "zh-TW"  %>
          </li>
          <li> 
          <%= link_to "English", :controller => controller.controller_name, 
             :action => controller.action_name, :locale => "en" %>  
          </li>
        
        </ul>
        
        <!--
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn " >
              <button class="btn btn-default search-btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </form>
        -->
      </div>
         
    </div><!-- /.nav-collapse -->
    
  </div><!-- /.container -->
</nav><!-- /.navbar -->