<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">	



  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>


  <style type="text/css">
  /* homepage background */
    .home_page {
      background: url(http://wallpapers.wallpapersdepo.net/free-wallpapers/3257/write-your-life-story-1920x1080.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    #wrap {
      min-height: 100%;
      height: auto;
      /* Negative indent footer by its height */
      margin: 0 auto -60px;
      /* Pad bottom by footer height */
      padding: 0 0 100px;
       
    }
    
  </style>

</head>



<body class="<%= @home_page ? 'home_page' : '' %> ">  
<div id="wrap">
  <%= render 'layouts/header' %>


  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %> </div>
    <% end %>  

    <%= yield %>
  
    <%#= debug(params) if Rails.env.development? %>

  
  
    
  </div>
 </div>   
  <%#= render 'layouts/footer' %>
  



</body>
<script>
    $(document).ready(function(){
      $(".alert").fadeOut(8000);
    });
  </script>
</html>
